p.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h1 {
  width: 920px;
  height: 130px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 100px;
}

p.description {
  width: 920px;
  height: 98px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-left: 100px;
}

p.footer {
  width: 117px;
  height: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 100px;
}
